<% content_for :title, "Setlist - #{@setlist.title}" %>
<% if notice %>
<div class="row">
	<div class="col-md-12">
		<div class="alert alert-success" role="alert">
			<p class="lead"><%= notice %></p>
		</div>
	</div>
</div>
<% end %>
<div class="row">
	<div class="col-md-12">
		<h2><%= @setlist.title %></h2>
	</div>
</div>

<div class="row">
	<div class="col-md-9">
		<table class="table table-bordered table-condensed">
			<tr>
				<td><strong>Author</strong></td>
				<td><%= @setlist.author %></td>
			</tr>
			<tr>
				<td><strong>Genre</strong></td>
				<td><%= @setlist.genre %></td>
			</tr>
			<tr>
				<td><strong>Modified</strong></td>
				<td><%= @setlist.updated_at %></td>
			</tr>
		</table>
	</div>
</div>
